body{
    margin:0;
    min-height: 100vh;
    background-image: url(https://img1.wsimg.com/isteam/ip/9f16c6df-144f-422c-bccb-edcb58c4abc2/blob.png/:/rs=w:1160,h:1160);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
body:before{
    content:"";
    width: 100%;
    min-height: 175vh;
    position: fixed;
    top: 0;
    left:0;
    background: linear-gradient(90deg,darksalmon,aqua);
    opacity: 0.7;
    z-index:-1;

}

p{
    color:red;
    font-size: xx-small;
  
    
}




